body {
    background:
        linear-gradient(-90deg, rgba(0, 0, 0, .08) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(-90deg, rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px),
        linear-gradient(-90deg, transparent 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px),
        linear-gradient(transparent 1px, transparent 1px), transparent;
    background-size:
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px;
}

p {
    text-align: center;
}

blockquote {
    text-align:center;
}

b {
    text-align: center;
}

.class {
    text-align: center;
}

h2 {
    text-align: center;
}

h1 {
    background: rgb(230,245,66);
    padding: 50px;
    margin: 5px;
    border-style:solid;
}


  
  